<!DOCTYPE html>
<html>
<head>
<title>My ML Demos</title>
</head>
<body>

<h1>My ML Demos</h1>

    <p>
       <a href="/bike_calc">Bike Calculator</a>
    </p>
    <p>
       <a href="/wine_calc">Wine Calculator</a>
    </p>
    <p>
       <a href="/bootstrap_demo">Bootstrap Demo</a>
    </p>
    <p>
         <a href="/pair_trading_demo">Pair Trading Demo</a>
    </p>
    <p>
         <a href="/crime_map">Crime Map</a>
    </p>
    <p>
         <a href="/olama">Olama</a>
    </p>
</body>
</html>